<!doctype html>
<html>
	<head>
	  <meta charset="utf-8">
	  <title>{{ page.title }}</title>
	  <meta name="mshameers" content="mshameers' space">
	  <link rel="stylesheet" href="/css/screen2.css">
	</head>

<body>
    <div id="wrapper">
    	<header>   
            <nav>
            	<ul>
					<li><a href="/pages/blog.html">myBlog</a></li>
					<li><a href="/downloads/mshameers.pdf" download="important"><span data-tip="1 page | pdf" class="tooltip">myResume</span></a></li>					
					<li><a href="#">myThoughts</a></li>
				</ul>
            </nav>
            <a class="head" href="/"><h2>mshameers'</h2></a>
        </header>
        <div id="contentcore" class="clearfix">
            <section id="left">
            	<ul>
					<li><a href="/pages/about.html">about</a></li>
					<li><a href="/pages/archive.html">archive</a></li>
					<li><a href="/pages/category.html"id="categories">categories</a></li>
						{% for category in site.categories %}
					<li class="categoriesText"><a href="/pages/category.html/#{{ category | first }}">-{{ category | first }}[{{ category | last | size }}]</a></li>
					{% endfor %}
				</ul>
				<ul class="info">
                    <li class='gi'>
                        <a href="https://github.com/mshameers"><span>/mshameers</span></a>
                    </li>
                    
                    <li class='fc'>
                        <a href="http://www.facebook.com/m.shameer.s"><span>/m.shameer.s</span></a>
                    </li>
                    <li class='em'>
                        <a href="mailto:mshameers@gmail.com"><span>mshameers@gmail.com</span></a>
                    </li>
                    <li class='tw'>
                        <a href="http://www.twitter.com/mshameers"><span>/mshameers</span></a>
                    </li>
                </ul>
            </section>

            <section id="right">              
                    {{ content }}
            </section>
        </div>

        <footer>
           <!-- <p>Some copyright and legal notices here. Maybe use the © symbol a bit.</p>-->
        </footer>
    </div>

</body>
</html>

